@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:992px) {

    body,
    html {
        background-image: url("../imagens/pexels-suraphat-nueaon-924633-bfundo-m.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        background-color: blue;
        width: 100vw;
        height: 100vh;

    }

    section#login {
        width: 70vw;
        display: static;
        height: 70vh;

    }

    section#login div#imagem {

        display: block;
        float: right;
        width: 40%;
        height: 100%;
    }
    div.caixa span{
        font-size: 2em;
    }

    label.dados {
        display: block;
    }

    input#iemail {
        width: 60%;
    }

    input#isenha {
        width: 60%;
    }

    input#ientrar {
        padding: 15px;
    }

    div.valoruser a {
        padding: 10px;
    }

    input#ientrar {
        margin-top: 5%;
    }

    section#login div#formulario {
        display: block;
        float: left;
        width: 60%;
        font-size: 1.2em;


    }

    div#campos {
        float: left;
        width: 60%;

    }

    div.caixa {
        padding: 20px;
        margin: 10px 2px;
        margin-left: 2px;
    }
}

@media screen and (min-width: 992px) {

    body,
    html {
        background-image: url("../imagens/pexels-suraphat-nueaon-924633-bfundo-g.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        background-color: blue;
        width: 100vw;
        height: 100vh;
        font-size: 1.4em;
    }

    section#login {
        width: 999px;
    }

    section#login div#imagem {
        display: block;
        float: left;
        width: 50%;
        height: 100%;
    }

    section#login div#formulario {

        float: left;
        width: 50%;

    }

    div#campos {
        float: right;
        width: 50%;

    }
    div.caixa span{
        font-size: 1.2em;
    }

    div.caixa {
        padding: 15px;
        margin: 10px 2px;
        margin-left: 2px;
    }

    label.dados {
        display: block;
    }

    input#iemail {
        width: 60%;
    }

    input#isenha {
        width: 60%;
    }

    input#ientrar {

        margin-top: 20px;
        font-size: .6em;
    }

    div.valoruser a {
        font-size: .6em;


    }








}